body {background: url("https://static1.squarespace.com/static/524310dee4b08d2a84faa6de/5911f7773e00beee8fada821/5911f81ed2b857d98bac5f3c/1494350828285/eastlyn-bright-silver-lake-sand-dunes-michigan-wedding-engagement-photographer-22.jpg?format=1500w") fixed;background-repeat: no-repeat;background-size: cover;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

h1, h3 , .sidebar h3 {
font-family: Verdana, Geneva, sans-serif !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* Buttons */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(255, 89, 143, 0.5);
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
font-family: Verdana, Geneva, sans-serif;
}
 
 
/* Links */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
font-family: Verdana, Geneva, sans-serif;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
font-family: Verdana, Geneva, sans-serif;
}
 
/* Topbar */
 
.topbar {
background: rgba(8, 209, 152 0.21);
border: 1px solid #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
font-family: Verdana, Geneva, sans-serif;
}

.badge {
background: rgba(255, 89, 143, 0.5);
border: 1px solid #000;
font-family: Verdana, Geneva, sans-serif;
}
 
/* Navigational Bar */
 
.main {
background: rgba(255, 89, 143, 0.5);
border: 1px solid #000;
box-shadow: none;
font-family: Verdana, Geneva, sans-serif;
}
 
.navbar {
background: rgba(8, 209, 152 0.5);
border-bottom: 1px solid #000;
color: #000;
 font-family: Verdana, Geneva, sans-serif;
}
 
.navbar-default .navbar-nav > li > a {
color: #000;
 font-family: Verdana, Geneva, sans-serif;
}
 
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #AAEEEE;
border-left: 1px solid #000;
border-right: 1px solid #000;
 font-family: Verdana, Geneva, sans-serif;
} 
 
 
 
/* Sidebar */
 
.sidebar {
background: rgba(255, 89, 143, 0.5);
border: 0px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
color: #000;
 font-family: Verdana, Geneva, sans-serif;
}
 
.col-md-3 .panel {
background: rgba(170, 238, 238, 0.5);
border: 1px solid #000;
box-shadow: none;  
 font-family: Verdana, Geneva, sans-serif;
}
 
.progress-bar {
background: #08D198;
 font-family: Verdana, Geneva, sans-serif;
}
 
.progress {
background: #f7f7f7;
border: 1px solid #000;
 font-family: Verdana, Geneva, sans-serif;
}
 
 
/* Chat */
 
.chat_light, .chat_dark {
background: rgba(255, 89, 143, 0.5);
font-size: 11px;
color: #000;
 font-family: Verdana, Geneva, sans-serif;
}

.chatContainer {
border: 1px solid #000;
 font-family: Verdana, Geneva, sans-serif;
}
 
.userstolen {
background: none;
 font-family: Verdana, Geneva, sans-serif;
}

.alert-danger {
color: #000000;
background: rgba(170, 238, 238, 0.5);
border: 1px solid #000;
 font-family: Verdana, Geneva, sans-serif;
}

.alert-success {
color: #000;
background: rgba(170, 238, 238, 0.5);
border: 1px solid #000;
 font-family: Verdana, Geneva, sans-serif;
}

.breadcrumb {
background:  rgba(170, 238, 238, 0.5);
font-size: 13px;
border: 1px solid #000;
 font-family: Verdana, Geneva, sans-serif;
}
 
.breadcrumb>.active {
color: #000;
 font-family: Verdana, Geneva, sans-serif;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
 font-family: Verdana, Geneva, sans-serif;
}
 
.col-md-9 {
background: none;
border: 0px solid #000;
 font-family: Verdana, Geneva, sans-serif;
}
 
/* Tables */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
 font-family: Verdana, Geneva, sans-serif;
}
 
.table, .item {
border: 1px solid #000;
background: rgba(170, 238, 238, 0.5);
border-collapse: separate;
 font-family: Verdana, Geneva, sans-serif;
}

.table .right, .table .right_odd {
background: none;
border: 0px solid #000;
 font-family: Verdana, Geneva, sans-serif;
}

div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: rgba(170, 238, 238, 0.5);
color: #000;
 font-family: Verdana, Geneva, sans-serif;
}

.cave-grid, div .left, .mound-grid {
border: 1px solid #000;
background: #08D198;
color: #000;
 font-family: Verdana, Geneva, sans-serif;
}

.table .left {
border: 1px solid #000;
background: rgba(170, 238, 238, 0.5);
color: #000;
 font-family: Verdana, Geneva, sans-serif;
}

.inner-table .right {
background: rgba(170, 238, 238, 0.5);
border: 1px solid #000;
border-left: none;
 font-family: Verdana, Geneva, sans-serif;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
content: url('https://i.imgur.com/w0ddgMt.png')
