body {
background: url('http://orig05.deviantart.net/ed46/f/2016/196/a/e/lioden__nebula_by_mrxylax-daa5ty5.jpg') no-repeat center center fixed;
background-size: cover;
}
.main {
color: #545B5E;
background: #004F86;
}
.panel {
color: #545B5E;
background: #002C4B;
}
.topbar {
color: #545B5E;
background: #002C4B;
}
.navbar {
color: #545B5E;
background: #002C4B;
}
.navbar-default .navbar-nav > li > a {
color: #545B5E;
background: #002C4B;
}
.table .top {
color: #545B5E;
background: #002C4B;
}
tr.right {
color: #545B5E;
background: #002C4B;
}
.col-md-9 {
color: #545B5E;
background: #004F86;
}
.breadcrumb {
color: #545B5E;
background: #002C4B;
}
td.right {
color: #545B5E;
background: #002C4B;
}
.inner-table {
color: #545B5E;
}
.inner-table .right {
color: #545B5E;
background: #004F86;
}
.inner-table .left {
color: #545B5E;
background: #002C4B;
}
.table .bottom {
color: #545B5E;
background: #002C4B;
} 
#sparring .right-odd {
color: #545B5E;
background: #002C4B;
}
#sparring .table .top {
color: #545B5E;
background: #002C4B;
}
