body {background: url("https://www.digitalcare.org/wp-content/uploads/2016/11/Free-Desktop-Wallpaper-feature.jpg") fixed;background-repeat: no-repeat;background-size: cover;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

h1, h3 , .sidebar h3 {
font-family: 'Special Elite', Arial ,cursive !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* Buttons */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(243, 142, 163, 0.21);
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
 font-family: 'Special Elite', Arial ,cursive;
}
 
 
/* Links */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
 font-family: 'Special Elite', Arial ,cursive;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
 font-family: 'Special Elite', Arial ,cursive;
}
 
/* Topbar */
 
.topbar {
background: rgba(243, 142, 163, 0.21);
border: 1px solid #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
 font-family: 'Special Elite', Arial ,cursive;
}

.badge {
background: rgba(243, 142, 163, 0.21);
border: 1px solid #000;
 font-family: 'Special Elite', Arial ,cursive;
}
 
/* Navigational Bar */
 
.main {
background: rgba(243, 142, 163, 0.21);
border: 1px solid #000;
box-shadow: none;
 font-family: 'Special Elite', Arial ,cursive;
}
 
.navbar {
background: rgba(243, 142, 163, 0.21);
border-bottom: 1px solid #000;
color: #000;
 font-family: 'Special Elite', Arial ,cursive;
}
 
.navbar-default .navbar-nav > li > a {
color: #000;
 font-family: 'Special Elite', Arial ,cursive;
}
 
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #F38EA3;
border-left: 1px solid #000;
border-right: 1px solid #000;
 font-family: 'Special Elite', Arial ,cursive;
} 
 
 
 
/* Sidebar */
 
.sidebar {
background: rgba(243, 142, 163, 0.21);
border: 0px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
color: #000;
 font-family: 'Special Elite', Arial ,cursive;
}
 
.col-md-3 .panel {
background: rgba(243, 142, 163, 0.21);
border: 1px solid #000;
box-shadow: none;  
 font-family: 'Special Elite', Arial ,cursive;
}
 
.progress-bar {
background: #F38EA3;
 font-family: 'Special Elite', Arial ,cursive;
}
 
.progress {
background: #f7f7f7;
border: 1px solid #000;
 font-family: 'Special Elite', Arial ,cursive;
}
 
 
/* Chat */
 
.chat_light, .chat_dark {
background: rgba(243, 142, 163, 0.21);
font-size: 11px;
color: #000;
 font-family: 'Special Elite', Arial ,cursive;
}

.chatContainer {
border: 1px solid #000;
 font-family: 'Special Elite', Arial ,cursive;
}
 
.userstolen {
background: none;
 font-family: 'Special Elite', Arial ,cursive;
}

.alert-danger {
color: #000000;
background: rgba(243, 142, 163, 0.21);
border: 1px solid #000;
 font-family: 'Special Elite', Arial ,cursive;
}

.alert-success {
color: #000;
background: rgba(243, 142, 163, 0.21);
border: 1px solid #000;
 font-family: 'Special Elite', Arial ,cursive;
}

.breadcrumb {
background:  rgba(243, 142, 163, 0.21);
font-size: 13px;
border: 1px solid #000;
 font-family: 'Special Elite', Arial ,cursive;
}
 
.breadcrumb>.active {
color: #000;
 font-family: 'Special Elite', Arial ,cursive;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
 font-family: 'Special Elite', Arial ,cursive;
}
 
.col-md-9 {
background: none;
border: 0px solid #000;
 font-family: 'Special Elite', Arial ,cursive;
}
 
/* Tables */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
 font-family: 'Special Elite', Arial ,cursive;
}
 
.table, .item {
border: 1px solid #000;
background: rgba(243, 142, 163, 0.21);
border-collapse: separate;
 font-family: 'Special Elite', Arial ,cursive;
}

.table .right, .table .right_odd {
background: none;
border: 0px solid #000;
 font-family: 'Special Elite', Arial ,cursive;
}

div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: rgba(243, 142, 163, 0.21);
color: #000;
 font-family: 'Special Elite', Arial ,cursive;
}

.cave-grid, div .left, .mound-grid {
border: 1px solid #000;
background: #F38EA3;
color: #000;
 font-family: 'Special Elite', Arial ,cursive;
}

.table .left {
border: 1px solid #000;
background: rgba(243, 142, 163, 0.21);
color: #000;
 font-family: 'Special Elite', Arial ,cursive;
}

.inner-table .right {
background: rgba(243, 142, 163, 0.21);
border: 1px solid #000;
border-left: none;
 font-family: 'Special Elite', Arial ,cursive;
}


body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
content: url('https://i.imgur.com/MATciAf.png')
