/* 
CSS template originally created and presented by Kraft (#738/#1105)
You may edit and use this code for personal or commercial use.
This comment must remain at the top in all cases - it will not be visible on final upload.
*/
  
 
body {
background: url("http://2.bp.blogspot.com/-S2xMjgt8wqw/VhuALLvR3FI/AAAAAAAAQYc/7Rv3_CScxxw/s1600/purple_forest_by_ninjatic-d7e4dsp.jpg") fixed;
background-repeat: no-repeat;
background-size: cover;
color: #000;
}
 
.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}
 
h1, h3 , .sidebar h3 {
font-family: Arial !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}
 
/* Buttons */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: #803C5D;
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
}
  
  
/* Links */
  
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
}
  
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
}
  
/* Topbar */
  
.topbar {
background: rgb(128, 60, 93);
border: 1px solid #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
 
.badge {
background: rgb(128, 60, 93);
border: 1px solid #000;
}
  
/* Navigational Bar */
  
.main {
background: rgba(128, 60, 93, 0.46);
border: 1px solid #000;
box-shadow: none;
}
  
.navbar {
background: #803C5D;
border-bottom: 1px solid #000;
color: #000;
}
  
.navbar-default .navbar-nav > li > a {
color: #000;
}
  
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #803C5D;
border-left: 1px solid #000;
border-right: 1px solid #000;
} 
  
  
  
/* Sidebar */
  
.sidebar {
background: rgba(128, 60, 93, 0.36);
border: 0px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
color: #000;
}
  
.col-md-3 .panel {
background: rgb(128, 60, 93);
border: 1px solid #000;
box-shadow: none;    
}
  
.progress-bar {
background: #A86882;
}
  
.progress {
background: #EEF8E3;
border: 1px solid #000;
}
  
  
/* Chat */
  
.chat_light, .chat_dark {
background: rgb(128, 60, 93);
font-size: 11px;
color: #000;
}
 
.chatContainer {
border: 1px solid #000;
}
  
.userstolen {
background: none;
}
 
.alert-danger {
color: #000;
background: rgb(128, 60, 93);
border: 1px solid #000;
}
 
.alert-success {
color: #000;
background: rgb(128, 60, 93);
border: 1px solid #000;
}
 
.breadcrumb {
background:  #803C5D;
font-size: 13px;
border: 1px solid #000;
}
  
.breadcrumb>.active {
color: #000;
}
  
h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
}
  
.col-md-9 {
background: none;
border: 0px solid #000;
}
  
/* Tables */
  
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
}
  
.table, .item {
border: 1px solid #000;
background: #803C5D;
border-collapse: separate;
}
 
.table .right, .table .right_odd {
background: none;
border: 0px solid #000;
}
 
div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: #A86882;
color: #000;
}
 
.cave-grid, div .left, .mound-grid {
border: 1px solid #000;
background: #A86882;
color: #000;
}
 
.table .left {
border: 1px solid #000;
background: #A86882;
color: #000;
}
 
.inner-table .right {
background: #EEF8E3;
border: 1px solid #000;
border-left: none;
}
 
 

 
/* 
CSS template originally created and presented by Kraft (#738/#1105)
*/
